#modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
}

#modal #modal__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);  
}

#modal.open {
  display: flex;
}

#modal #modal__container {
  z-index: 2;
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
  background-color: var(--color-background);
  border-radius: 0.5rem;
}