#tabs {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 1rem;
}

#tabs #tabs__buttons {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

#tabs #tabs__buttons button {
  color: var(--color-grey);
  font-size: 1.5rem;
  transform: scale(0.8);
  transition: all 0.2s;
}

#tabs #tabs__buttons button.active {
  color: var(--color-primary);
  transform: scale(1);
}

#tabs #tabs__container {
  position: relative;
  width: 100%;
  transition: all 0.4s;
}
